# Terraform files
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.*

# Crash log files
crash.log

# Ignore .tfvars files that are sensitive (e.g., passwords, secrets)
# *.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan

# .terraform directory
.terraform/
.terraform.lock.hcl

# Backup files created by Terraform
*.backup

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.swp
*.swo
*.DS_Store
*.log

# Ignore Terraform provider plugins (if included in repo)
.terraform.d/plugins/
